// common colors
$colorPrimary: crimson;
$colorPrimaryText: lighten($colorPrimary, 40%);
$colorSecondary: cornflowerblue;
$colorSecondaryText: darken($colorSecondary, 40%);
$colorDefault: lightslategray;
$colorDefaultText: darken($colorDefault, 40%);
$colorGrey: slategray;
$colorGreyText: darken($colorGrey, 40%);
$colorBright: whitesmoke;
$colorBrightText: darken($colorBright, 40%);
$colorOverlay: rgba(black, 0.4);
$colorCard: rgba(black, 0.08);
// document colors
$colorDocument: #8086a0;
$colorDocumentDark: #1e1f30;
$colorDocumentDarker: darken($colorDocumentDark, 10%);
$colorDocumentLight: #a0a6b0;
$colorDocumentText: desaturate(lighten($colorDocumentDark, 40%), 5%);
body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(
      217deg,
      rgba($colorPrimary, 0.8),
      rgba($colorPrimary, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba($colorDocument, 1),
      rgba($colorDocument, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba($colorSecondary, 0.8),
      rgba($colorSecondary, 0) 70.71%
    );
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Music_App {
  height: calc(100vh - 6rem);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  background: url("./bg.jpg") center/cover no-repeat;
  overflow: hidden;
}
.Navbar {
  background: #111320;
}
.MusicControl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: #111320;
}
.MusicPanel {
  position: absolute;
  width: 450px;
  background: #222336;
  height: 100%;
  right: 0;
  top: 0;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  &.MusicPanelHide {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
  .SearchStation {
    .form-control:focus {
      border: 0 !important;
      box-shadow: none !important;
    }
  }
  .musicPanel_wrapper{
    height: calc(100% - 200px);
    overflow: auto;
  }
  .MusicListing {
    .music_logo {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-radius: 2px solid white !important;
    }
    .list_active_bg{
      background: #252741!important;
    }
  }
}
.form_control_focus:focus {
  border: 0 !important;
  box-shadow: none !important;
}